@font-face {
    font-family: 'LatoBlack';
    src: url(/assets/Lato-Black.ttf) format('truetype');
  }

@font-face {
    font-family: 'LatoBold';
    src: url(/assets/Lato-Bold.ttf) format('truetype');
  }

@font-face {
    font-family: 'LatoRegular';
    src: url(/assets/Lato-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'LatoLight';
    src: url(/assets/Lato-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'LatoHeavy';
    src: url(/assets/Lato-Heavy.ttf) format('truetype');
} 

.wrapper {
    max-width: 1020px;
    margin: auto;
}
                                                     /* header */
.header {
    background: linear-gradient(180deg, #2d303a 93.7%, #323746 6.3%);
}

.header-elements {
    display: flex;
    justify-content: space-between;

}

.singolo-logo {
    color: white;
    width: 114px;
    display: flex;
    margin-left: 39px;
    font-family: 'LatoBold';
    font-size: 25px;
    font-family: "Lato";
    text-align: left;
    text-transform: uppercase;
    margin-top: 32px;
    margin-bottom: 37px;
    letter-spacing: -0.02em;
}

.logo-asterisk {
    color: #f06c64;
}

.navbar ul {
    display: flex;
    width: 370px;
    justify-content: space-between;
    margin-right: 40px;
    font-size: 12px;
    line-height: 6px;
    font-family: "LatoRegular";
    text-align: left;
    text-transform: uppercase;
    margin-top: 46px;
}

.navbar ul li a{
    color: white;
    text-decoration: none;
}

.navbar ul li+li::before{
    position: relative;
    bottom: 1px;
    left: -9px;
    content: "\2022";
    color: #3a3e4d;
}

.navbar ul li a:hover{
    color: #f06c64;
}

                                                     /* slider */

.slider {
    background: linear-gradient(180deg, #ef6c64 99%, #ea676b 1%);
}

.slider-layout {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 52px;
    padding-bottom: 62px;
}

#leftArrow {
    width: 27px;
    height: 27px;
    padding-left: 1px;
}

#leftArrow:hover {
    opacity: .5;
}

#verticalImage {
    width: 240px;
    height: 483px;
    margin-left: -22px;
}

#horizontalImage {
    width: 483px;
    height: 240px;
    margin-right: -21px;
}

#rightArrow {
    width: 27px;
    height: 27px;
}

#rightArrow:hover{
    opacity: .5;
}

                                                        /* services */

.services {
    background: linear-gradient(180deg, #f2f2f2 98.5%, #ffffff 1.5%);
    padding-bottom: 28px;
}

.services-title{
    font-family: "LatoHeavy";
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    padding: 69px 0 2px 41px;
    letter-spacing: -0.09px;
}

.services-description {
    width: 936px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "LatoLight";
    padding: 23px 0px 47px 41px;
    text-align: justify;
    letter-spacing: -0.24px;
}

.services-3-column-layout {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 20px;
    margin-bottom: 47px;
    margin-left: 40px;
}

.box-design-text p {
    color: #767e9e;
    font-family: "LatoRegular";
    font-size: 12px;
    line-height: 22px;
    padding-top: 10px;
    margin-right: 17px;
    text-align: justify;
    letter-spacing: -0.09px;
}

.box-design-text h3 {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "LatoHeavy";
    margin-top: -1px;
}

.box-design, .box-layout, .box-ideas, .box-support, .box-love, .box-star {
    display: grid;
    grid-template-columns: 60px 237px;
    gap: 20px;
}

.first-column, .second-column, .third-column{
    display: grid;
    grid-template-rows: 85px 85px;
    gap: 38px;
}
