@font-face {
    font-family: 'LatoBlack';
    src: url(./assets/Lato-Black.ttf) format('truetype');
  }

@font-face {
    font-family: 'LatoBold';
    src: url(./assets/Lato-Bold.ttf) format('truetype');
  }

@font-face {
    font-family: 'LatoRegular';
    src: url(./assets/Lato-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'LatoLight';
    src: url(./assets/Lato-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'LatoHeavy';
    src: url(./assets/Lato-Heavy.ttf) format('truetype');
} 

.wrapper {
    max-width: 1020px;
    margin: auto;
}

               /* SINGOLO-1 */

.header {
    background: linear-gradient(180deg, #2d303a 93.7%, #323746 6.3%);
    padding-bottom: 6px;
    position: sticky;
    top: 0;
    z-index: 2;
}

.header-elements {
    display: flex;
    justify-content: space-between;
}

.singolo-logo {
    color: white;
    width: 114px;
    display: flex;
    font-family: 'LatoBold', Verdana, sans-serif;
    font-size: 25px;
    text-align: left;
    text-transform: uppercase;
    margin: 35px 0 36px 40px;
    letter-spacing: -0.02em;
}

.logo-asterisk {
    color: #f06c64;
}

.navbar ul {
    display: flex;
    width: 370px;
    justify-content: space-between;
    margin-right: 39px;
    font-size: 12px;
    line-height: 6px;
    font-family: "LatoRegular", Verdana, sans-serif;
    text-align: left;
    text-transform: uppercase;
    margin-top: 46px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

.navbar ul li+li::before {
    position: relative;
    bottom: 1px;
    left: -9px;
    content: "\2022";
    color: #3a3e4d;
}

.navbar ul li a.active {
    color: #f06c64;
}

.navbar ul li a:not(.active):hover {
    color: #f06c64;
}
                        /* SLIDER */
.slider {
    background: linear-gradient(180deg, #ef6c64 99%, #ea676b 1%);
    /* position: absolute; */
    height: 650px;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    /* transform: translate(-50%, -50%); */
}

.slider2 {
    background: linear-gradient(180deg, #648bf0 99%, #587ad0 1%);
    /* height: 700px; */
    /* top: 50%;
    left: 50%;
    width: 100%;
    text-align: center; */
}




.item-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.item {
    display: none;
    position: relative;
    margin: 0 auto;
    animation: 0.5s ease-in-out;
}

.active-item,
.next {
    display: block;

}

.next {
    position: absolute;
    top: 0;
    width: 100%;
}

.slider-description {
    display: flex;
    /* margin: 30px 20%; */
    /* justify-content: space-between; */

    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 52px;
    padding-bottom: 62px;
}
                            
.control {
    position: absolute;
    top: 15%;
    bottom: 0;
    width: 17%;
    cursor: pointer;
}

/* .control.left {
    left: 0;
    right: auto;
} */

.control.right {
    /* left: auto; */
    right: 0;
}
                            
.arrow {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.arrow:hover {
    opacity: .5;
}

.arrow.right {
    right: 50%;
}

.to-left {
    animation-name: left;

}

.to-right {
    animation-name: right;
    animation-direction: reverse;
}

.from-left {
    animation-name: left;
    animation-direction: reverse;
}

.from-right {
    animation-name: right;
    
}

#verticalImage {
    width: 240px;
    height: 483px;
    margin-left: 75px;
    cursor: pointer;
}

#horizontalImage {
    width: 483px;
    height: 240px;
    margin-right: 75px;
    cursor: pointer;

}

#iphone-vertical-black {
    position: absolute;
    top: 117px;
    left: 126px;
    width: 188px;
    height: 334px;
    background-color: #000000;
    cursor: pointer;
}

#iphone-horizontal-black{
    position: absolute;
    top: 188px;
    left: 485px;
    width: 333px;
    height: 189px;
    background-color: #000000;
    cursor: pointer;
}
                            
@keyframes left {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes right {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

.services {
    background: linear-gradient(180deg, #f2f2f2 98.5%, #ffffff 1.5%);
    padding-bottom: 28px;
}

.services-title{
    font-family: "LatoHeavy", Verdana, sans-serif;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    padding: 69px 0 2px 41px;
    letter-spacing: -0.09px;
}

.services-description {
    margin-right: 41px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "LatoLight", Verdana, sans-serif;
    padding: 23px 0px 47px 41px;
    text-align: justify;
    letter-spacing: -0.24px;
}

.services-3-column-layout {
    display: grid;
    /* grid-template-columns: 300px 300px 300px; */
    grid-template-areas: 
    "a a a"
    "a a a";
    overflow: hidden;
    gap: 31px;
    margin: 0 41px 38px 40px;
}

.services-3-column-layout div::before {
    /* content: ""; */
    float: left;
    padding-top: 100%;
}

.services-3-column-layout div {
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .services-3-column-layout {
        grid-template-areas: 
    "a a"
    "a a"
    "a a";
    }
}

@media (max-width: 375px) {
    .services-3-column-layout {
        grid-template-areas: 
    "a"
    "a"
    "a"
    "a"
    "a"
    "a";
    }
}

.box-design-text {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: -12px;
}

.box-design-text p {
    color: #767e9e;
    font-family: "LatoRegular", Verdana, sans-serif;
    font-size: 12px;
    line-height: 22px;
    padding-top: 9px;
    margin-right: 17px;
    text-align: justify;
    letter-spacing: -0.09px;
}
.name {
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
}

.box-design-text h3 {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "LatoHeavy", Verdana, sans-serif;
    margin-top: -1px;
    white-space: nowrap;
}

.box-design, .box-layout, .box-ideas, .box-support, .box-love, .box-star {
    display: grid;
    grid-template-areas: 
    "a a";
    gap: 20px;
}

                  /* SINGOLO-2 */

    .portfolio {
    background: linear-gradient(180deg, #2d303a 99%, #323746 1%);
    padding-bottom: 54px;
}

.about-us {
    background: linear-gradient(180deg, #f2f2f2 99.2%, #ffffff 0.8%);
    padding-bottom: 68px;
}

h1 {
    font-size: 30px;
    line-height: 18px;
    font-family: "LatoBlack", Verdana, sans-serif;
    color: #666d89;
}

h2 {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "LatoBold", Verdana, sans-serif;
}

p {
    font-size: 18px;
    line-height: 30px;
    font-family: "LatoLight", Verdana, sans-serif;
    color: #767e9e;
}

.portfolio__content {
    padding: 69px 0 0px 41px;
}

.portfolio__title {
    padding-bottom: 15px;
}

.portfolio__description {
    padding-top: 15px;
    padding-bottom: 7px;
    line-height: 22px;
    letter-spacing: -0.35px;
}

#portfolio-tags .tag_selected {
    color: #dedede;
    border-color: #dedede;
} 
.portfolio__tags {
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "LatoRegular", Verdana, sans-serif;
    padding-top: 7px;
    padding-bottom: 10px;
    cursor: pointer;
}

#portfolio-images .image-hidden {
    display: none;
}

.tag:hover {
    color: #dedede;
    border-color: #dedede;
}

.tag {
    border-radius: 5px;
    border: 1px solid #666d89;
    padding: 2px 6px 3px 6px;
    margin-right: 8px;
}

.layout-4-column {
    display: grid;
    grid-template-areas: 
    "a a a a"
    "a a a a"
    "a a a a";
    /* grid: repeat(3, 187px) / repeat(4, 220px); */
    grid-gap: 20px;
    /* height: 601px; */
    overflow: hidden;
    margin: 9px 41px 20px 0;
}

.layout-4-column div::before {
    content: "";
    float: left;
    /* padding-top: 100%; */
}
.layout-4-column img {
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .layout-4-column {
        grid-template-areas: 
    "a a a"
    "a a a"
    "a a a"
    "a a a";
    }
}

@media (max-width: 375px) {
    .layout-4-column {
        grid-template-areas: 
    "a a"
    "a a"
    "a a"
    "a a"
    "a a"
    "a a";
    }
}

img.active-portfolio-image {
    position: absolute;
    border: 5px solid  #F06C64;
}

.about__content {
    padding-top: 67px;
    /* width: 940px; */
    padding-left: 31px;
}

.about__description {
    padding-top: 28px;
    padding-bottom: 22px;
    letter-spacing: -0.25px;
    margin-right: 41px;
}

.layout-3-column {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    /* grid-template-areas: 
    "a a a"; */
    grid-gap: 20px;
    margin: 22px 24px 0 0;
}

.layout-3-column article > div::before {
    content: "";
    float: left;
    padding-top: 100%;
}

.layout-3-column div {
    width: 100%;
    /* height: 100%; */
}

/* @media (max-width: 768px) {
    .layout-3-column {
        grid-template-areas: 
    "a a a";
    }
} */

@media (max-width: 375px) {
    .layout-3-column {
    display: block;
    }
}

.about__social {
    padding-bottom: 11px;
}

.employee__image {
    width: 100%;
    height: 100%;
}

.employee__title { 
    margin: 11px 1px 5px 0;
    white-space: nowrap;
}

.employee__description {
    font-size: 12px;
    margin: 11px 0 21px 0;
    line-height: 22px;
    text-align: justify;
    letter-spacing: -0.3px;
    font-family: "LatoRegular", Verdana, sans-serif;
}

.fb {
    background-image: url(./assets/fb.svg);
    width: 35px;
    height: 35px;
    display: inline-block;
}

.fb:hover {
    opacity: .7;
}

.google {
    background-image: url(./assets/google.svg);
    width: 35px;
    height: 35px;
    display: inline-block;
}

.google:hover {
    opacity: .7;
}

.twitter {
    background-image: url(./assets/twitter.svg);
    width: 35px;
    height: 35px;
    display: inline-block;
}

.twitter:hover {
    opacity: .7;
}

.linkedin {
    background-image: url(./assets/linkedin.svg);
    width: 35px;
    height: 35px;
    display: inline-block;
}

.linkedin:hover {
    opacity: .7;
}

                /* SINGOLO-3 */

.form {
    background: linear-gradient(180deg, #f06c64 99%, #ea676b 1%);
}

.footer {
    background-color: #2d303a;
}

.form-text {
    padding-top: 5px;
    padding-left: 44px;
}

.h1-Get-a-quote {
    font-size: 30px;
    line-height: 18px;
    font-family: "LatoBlack", Verdana, sans-serif;
    color: #f0d8d9;
    padding-top: 63px;
    padding-bottom: 30px;
    margin-left: -4px;
}

.description {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "LatoLight", Verdana, sans-serif;
    margin-top: -2px;
    text-align: justify;
    letter-spacing: -0.25px;
    margin-left: -3px;
}

.layout-2-column {
    display: grid;
    grid-template-columns: 620px 300px;
    gap: 20px;
    margin-top: 21px;
    padding-bottom: 18px;
    margin-left: 42px;

    position: relative;
}

.layout-4-rows {
    display: grid;
    grid-template-rows: 33px 33px 33px 200px;
    gap: 21px;
    margin-top: 25px; 
}

.input-fields {
    width: 604px;
    height: 36px;
    border: 1px solid #d6564f;
    border-radius: 5px;
    background-color: #d6564f;
    color: #f48c8f;
    padding-left: 13px;
}

.textarea {
    width: 604px;
    height: 195px;
    border-radius: 5px;
    background-color: #d6564f;
    border: 1px solid #d6564f;
    resize: none;
    padding-left: 13px;
    color: #f48c8f;
    padding-top: 6px;
}

.submit-button, #close-btn {
    width: 150px;
    height: 36px;
    border: 1px solid #97423d;
    border-radius: 5px;
    background-color: #a74641;
    color: #a74641;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "LatoRegular", Verdana, sans-serif;
    cursor: pointer;
}

input::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "LatoRegular", Verdana, sans-serif;
    } 
input::-moz-placeholder {
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "LatoRegular", Verdana, sans-serif;
    }

textarea::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "LatoRegular", Verdana, sans-serif;
    } 
textarea::-moz-placeholder {
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "LatoRegular", Verdana, sans-serif;
    }


#message-block {

    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgb(230, 170, 164);
}

#message-block.hidden {
    display: none;
}

#message {
    position: absolute;
    top: 32%;
    left: 33%;
    border: 1px solid #97423d;
    text-align: center;
    border-radius: 5px;
    background-color: #ef6c64 ;
    font-size: 12px;
    line-height: 22px;
    font-family: "LatoRegular", Verdana, sans-serif;
    min-width: 507px;
    max-width: 510px;
    padding: 10px 10px;
}

.contact-information {
    margin-top: 24px;
    }

.contact-info-title {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "LatoBold", Verdana, sans-serif;
    margin-bottom: 12px;
    text-align: justify;
    }

.contact-info-description {
    width: 300px;;
    height: 107px;
    font-size: 12px;
    line-height: 21px;
    font-family: "LatoRegular", Verdana, sans-serif;
    text-align: justify;
    letter-spacing: -0.15px;
    color: #f0d8d9;
}

.contact-link {
    text-decoration: none;
    width: 300px;
    height: 175px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "LatoRegular", Verdana, sans-serif;
    padding-left: 5px;
}

.location-icon {
    padding-left: 2px;
}

.copyright {
    font-family: "LatoRegular", Verdana, sans-serif;
    color: #575d74;
    font-size: 12px;
    line-height: 22px;
}

.footer-2-column {
    display: flex;
    padding-top: 27px;
    padding-bottom: 17px;
    justify-content: space-between;
    padding-left: 44px;
}

.social {
    margin-top: -5px;
    margin-right: 39px;
}